@page
@model TrophyCaseProject.Pages.Awards.Plaques.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trophy</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Trophy.Id" />
            <div class="form-group">
                <label asp-for="Trophy.Division" class="control-label"></label>
                <input asp-for="Trophy.Division" class="form-control" />
                <span asp-validation-for="Trophy.Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trophy.Year" class="control-label"></label>
                <input asp-for="Trophy.Year" class="form-control" />
                <span asp-validation-for="Trophy.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trophy.Sport" class="control-label"></label>
                <input asp-for="Trophy.Sport" class="form-control" />
                <span asp-validation-for="Trophy.Sport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trophy.Place" class="control-label"></label>
                <input asp-for="Trophy.Place" class="form-control" />
                <span asp-validation-for="Trophy.Place" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Trophy.Class" class="control-label"></label>
                <input asp-for="Trophy.Class" class="form-control" />
                <span asp-validation-for="Trophy.Class" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
